<body>
  <div class="login-container">
    <form [formGroup]="loginForm">
      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          ng-model="myName"
          placeholder="Adresse email"
          formControlName="email"
          required
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Mot de passe"
          formControlName="motdepasse"
          required
        />
      </div>
      <label></label>
      <div class="form-group">
        <button
          [ngClass]="{ 'button-invalid': loginForm.invalid }"
          [ngClass]="{ 'button-valid': loginForm.valid }"
          (click)="onSubmitForm()"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          CONNEXION
        </button>
      </div>
      <div class="form-group">
        <button
          [ngClass]="'button-creation'"
          (click)="onCreationForm()"
          type="submit"
        >
          CRÉER COMPTE
        </button>
      </div>
    </form>
  </div>
</body>
