.content-wrapper {
  background-image: url(https://i.ibb.co/6s6MQ1T/photo-1505935428862-770b6f24f629.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 50px);
  padding: 14%;
  background-size: cover;
  padding-bottom: 14.5%;
}

.left-panel {
  background-color: #fff;
  padding: 51px;
  margin: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  opacity: 0.9;
}

.right-panel {
  background-color: #fff;
  padding: 52px;
  margin: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  opacity: 0.9;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 100px;
  resize: vertical;
}

.button-valid {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: #2980b9;
  }
}
.button-invalid {
  background-color: red; /* Cambia el color del botón cuando el formulario no es válido */
  /* Puedes agregar otros estilos según tu preferencia */
}





#table-select {
  margin-bottom: 20px;
}

@media all and (max-width: 900px) {
  .content-wrapper {
    flex-direction: column;
  }
}
